.home-page {
  
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
